
      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }
      
      body  {
        
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../media/background_image.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50%;
        margin: 50px;
        Width: auto;
      }
    
    
    header {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    /* navigation menu */
    nav {
    
        border-radius: 10px 30px;
        background: #404775;
        margin: 10 auto;
        margin-top: 50px
        display: flex;
        padding: 10px;
        opacity: 90%;

        margin: 0 0 0 0;
    

    }
    nav header {
        display: flex;
        align-items: right;
        color: rgb(255, 255, 255);
        flex: 1;
        
    }
    
    nav a {
        text-decoration: none;
        color: #fff;
    }
    nav a:hover{
        text-decoration: none;
        color: #f0c36c;
    }

   nav ul {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    width: 80%;
    list-style-image: none;
    
    margin-bottom: 2.22rem;
    color: #ffffff;
  }
  
    nav li {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        width: 4.33rem;
        border-bottom: 1px solid #fff;
        padding: 0 2.58rem .33rem 2.58rem;
        line-height: 1.13;
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
        transition: color .25s;
    }
    
    nav li:hover {
        color: #d4cfcf;
    }
    
    nav li.active,
    nav li.active:hover {
        border-bottom: 1px solid #f0c36c;
        color: #f0c36c;
    }
    
    /* main container area beneath menu */
    main {
        margin: 10 auto;
        
        border-radius: 10px 30px;
        background: rgba(245, 238, 219, 0.9);
        display: flex;
        
    }
    .sidebar {
        margin-right: 25px;
        padding: 10px;
        
        
    }
    .sidebar img {
       
        width: 200px;
        border-radius:10px 30px;
        opacity: 100%;
    }
    .profile_photo{
        opacity: 100%;
    }
    .content {
        flex: 1;
        padding: 15px;
    }
    .interests header {
        font-size: 1.25em;
    }

    .contact{
        margin-right: 30px;
        color: black;
    }
    .social_links{
        float: left;
        padding: 10px;
        

    }
    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        
        width: 100%;
        background: white;
        padding: 20px;
        opacity: 90%;
        width: 100%;
        
        text-align: right;
        opacity: 90%;
      }
    
    
       